{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <p>Bienvenue sur la gestion de Postcar !</p>
    <p>Vous pouvez sur cette interface controller la voiture et avoir son status.</p>

    <form method="get">
        <button class="btn btn-success" name="auriol" type="submit">Auriol</button>
        <button class="btn btn-success" name="avant_ascenceur" type="submit">Avant l'ascenceur</button>
        <button class="btn btn-success" name="devant_ascenceur" type="submit">Devant l'ascenceur</button>
        <button class="btn btn-success" name="dedans_ascenceur" type="submit">Dedans l'ascenceur</button>
        <button class="btn btn-success" name="sortie_ascenceur" type="submit">Sortie de l'ascenceur</button>
        <button class="btn btn-success" name="porte" type="submit">Porte</button>
    </form>
{% endblock %}
