{% extends "base.html" %}

{% block title %}Logs{% endblock %}

{% block body %}

    <table class="table logs table-sm">
        <thead>
            <tr>
                <th scope="col" class="col-1">Date</th>
                <th scope="col" class="col-1">Level</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
            {% for log in log_history %}
                <tr class="table-{{ log.level }}">
                    <td>{{ log.stamp }}</td>
                    <td>{{ log.level }}</td>
                    <td>{{ log.msg }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script>
        let socket = io();
        let table_body = document.querySelector("table.logs").getElementsByTagName("tbody").item(0);

        socket.on('log', function(msg) {
            let tr = document.createElement("tr");
            tr.classList.add("table-" + msg.level);
            let td_stamp = document.createElement("td");
            td_stamp.innerText = msg.stamp;
            let td_level = document.createElement("td");
            td_level.innerText = msg.level;
            let td_msg = document.createElement("td");
            td_msg.innerText = msg.msg;

            tr.appendChild(td_stamp);
            tr.appendChild(td_level);
            tr.appendChild(td_msg);
            table_body.appendChild(tr);
            if(table_body.childElementCount > 30) {
                table_body.deleteRow(0);
            }
        });
    </script>
{% endblock %}
